@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    transition: all 0.4s ease;
}

/* ===== Colours ===== */
:root {
    --body-color: #E4E9F7;
    --nav-color: #4070F4;
    --side-nav: #010718;
    --text-color: #FFF;
    --search-bar: #F2F2F2;
    --search-text: #010718;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: var(--body-color);
    background-image: url('book_shopp.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    /* height: 100%; */
}

main {
    flex: 1;
}

nav {
    padding: 20px;
    height: 70px;
    width: 100%;
    background-color: var(--nav-color);
    z-index: 100;
}



nav .nav-bar {
    position: relative;
    max-width: 1000px;
    width: 100%;
    background-color: var(--nav-color);
    margin: 0 auto;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .nav-bar .sidebarOpen {
    color: var(--text-color);
    font-size: 25px;
    padding: 5px;
    cursor: pointer;
    display: none;
}

nav .nav-bar .logo a {
    font-size: 25px;
    font-weight: 500;
    color: var(--text-color);
    text-decoration: none;
}

.menu .logo-toggle {
    display: none;
}

.nav-bar .nav-links {
    display: flex;
    align-items: center;
}

.nav-bar .nav-links li {
    margin: 0 5px;
    list-style: none;
}

.nav-links li a {
    position: relative;
    font-size: 17px;
    font-weight: 400;
    color: var(--text-color);
    text-decoration: none;
    padding: 10px;
}

.nav-links li a::before {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 6px;
    width: 6px;
    border-radius: 50%;
    background-color: var(--text-color);
    opacity: 0;
    transition: all 0.3s ease;
}

.nav-links li:hover a::before {
    opacity: 1;
}

.container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    width: 200px;
    height: 100px;
    background-color: #fff;
    border: 2px solid #007bff;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    cursor: pointer;
}

.box:hover {
    background-color: #f0f0f0;
}
.login-as {
    text-align: center;
    margin-bottom: 20px;
}

.login-as h2 {
    font-size: 24px;
    font-weight: 500;
    color: black
    /* text-transform: uppercase; */
}

.user {
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.footer {
    display: flex;
    background-color: rgba(0, 0, 0, 0.864);
    color: aliceblue;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
    margin-top: auto;
}

.containerf {
    text-align: center;
}